@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

@theme {
  --color-PrimaryColor: #f84d04;
  --color-srcColor: #df6c3b;
}

@layer utilities {
  body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #fafafa 0%, #fcfcfc 100%);
  }
  p {
    color: #4a4a4a;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .containers {
    max-width: 1440px;
    margin: 0 auto;
  }
  .leftPadding {
    right: 8px;
  }
  .backgroundRounded {
    padding: 10px;
    border-radius: 999999px;
  }
  .paddingXCustom {
    padding: 4px 14px;
  }

  #heroBackgroundImages {
    background: url('../src/assets/images/heroBg.png');
    background-position: center center;
    border-radius: 99999px;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 80px 0; */
    width: 300px;
    height: 300px;
    margin: 0 auto;
    @apply lg:w-[500px] lg:h-[500px];
  }
  .CustomWidth {
    width: 500px;
    height: 500px;
  }
  .playShadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .oderShadow {
    box-shadow: 0 15px 30px rgba(255, 81, 0, 0.3);
  }
  .customBorder {
    border-radius: 9999px;
    width: 153px;
    height: 153px;
  }
  .shadowLg {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }
}
